.env
.env.*
myenv/
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
*.log
*.sqlite3
*.db
AGENTS.md
prompt.md
api.md
dir.md
prd
rideway-497509-f17a7ea4b890.json
client_secret_170144102635-53bequpalhvshu8pl30mb3hjehu8ddai.apps.googleusercontent.com.json
Rideway.zip
Rideway_Design
setup.md
Claude.md