services:
  api:
    build: .
    command: gunicorn -k uvicorn.workers.UvicornWorker -w 4 -b 0.0.0.0:8000 app.main:app
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - redis

  celery_worker:
    build: .
    command: celery -A app.core.celery_app:celery_app worker --loglevel=info
    env_file: .env
    depends_on:
      - redis

  celery_beat:
    build: .
    command: celery -A app.core.celery_app:celery_app beat --loglevel=info
    env_file: .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
